.default-button {
  cursor: pointer;

  padding: 0.5rem 0.8rem;
  background: var(--main-color);
  border-radius: 5px;
  color: var(--gray-50);
}

.default-button:hover {
  box-shadow: 0rem 0.3rem 8px var(--gray-400);
}
