.blue-bg-round-button {
  cursor: pointer;

  padding: 0.5rem 0.8rem;
  background: var(--main-color);
  border-radius: 5px;
  color: var(--gray-50);
}

.blue-bg-round-button:hover {
  box-shadow: 0rem 0.3rem 8px var(--gray-400);
}

.small-no-bg-button {
  cursor: pointer;
  padding: 0.5rem;
}
