.input {
  border-width: 0;
  width: 100%;
  outline: none;
  padding-block-end: 0.5rem;
  box-shadow: var(--gray-200) 0px 1px;
  color: var(--mainColor);
}

.input:focus {
  box-shadow: var(--main-color) 0px 2px;
}

.input::placeholder {
  color: var(--gray-300);
}
