.header-wrapper {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  cursor: pointer;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
