html,
body,
#root {
  min-width: 100%;
  min-height: 100%;

  height: fit-content;
}

main {
  display: block;
}

* {
  /* MW touch highlight 제거 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
