.heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 32px;
}

.heading-wrapper h2 {
  font-size: 16px;
}

.start-btn-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
}

.start-btn {
  font-size: var(--font-size-m);
  font-weight: 800;
}
