.visual-full {
  display: flex;
  width: 100%;
  height: 10px;
}

.progress-visual {
  /* Number of the seconds for complete animation */
  height: inherit;
  position: relative;
  transition: width 1s ease-in-out;
}
